<div class="wrap g-moudel-post m-application m-application-edit">
    <!-- 主區域 START -->
    <div class="w-main">


            <!-- 標題 -->
            <div class="fn-clear m-title">
                <input type="text" class="input-text input-text-app-name" value="{{name}}" id="js_title">
            </div>

            <!-- 引言 -->
            <div class="fn-clear m-description">
                <label>引言<em>(微博分享，<font>还可以输入<strong id="js_residue-counter">90</strong>字</font><font style="display: none;color:red">已超出<strong id="js_exceed-counter">90</strong>字</font> )</em></label>
                <textarea name="" id="js_description">{{description}}</textarea>
            </div>


            <!-- app属性 -->
            <div class="section m-app-attr">
                <h2>应用属性</h2>


                <div class="field">
                    <label>中文</label>
                    <input class="input-text" placeholder="请输入应用中文名..." type="text" value="{{name_cn}}" id="js_name_cn">

                    <label>英文</label>
                    <input class="input-text" placeholder="请输入应用英文名..." type="text" value="{{name_en}}" id="js_name_en">
                </div>


                <div class="field">
                    <label>包名</label>
                    <input class="input-text" placeholder="请输入应用包名..." type="text" value="{{name_package}}" id="js_name_package">

                    <label>版本</label>
                    <input class="input-text" placeholder="请输入版本..." type="text" name="version" value="{{version}}" title="请输入版本.." id="js_version">

                </div>


                <div class="field">
                    <label>大小</label>
                    <input type="text" class="input-text" placeholder="请输入大小..." name="size" value="{{size}}" title="请输入大小.." id="js_size">

                    <label>语言</label>
                    <select name="language" class="g-select" id="js_language">
                        <option value="中文">中文</option>
                        <option value="英文">英文</option>
                        <option value="日文">日文</option>
                        <option value="韩文">韩文</option>
                    </select>
                </div>


                <div class="field">
                    <label>排序</label>
                    <input class="input-text" type="text" name="order" value="{{order}}" id="js_order">
                </div>

            </div>



            <!-- 自动填写APK包信息（2选1） -->
            <div class="section m-auto-attr">
                <h2>自动填写APK包信息</h2>
                <div class="field">
                    <iframe style="height: 0" frameborder="0" id="js_formTarget"></iframe>
                    <form action="" method ="post" target="js_formTarget" id="apkForm" enctype="multipart/form-data">
                        <strong>1.上传解压</strong>
                        <input type="file" class="ke-upload-file" name="apk" tabindex="-1">
                        <input type="hidden" name="appid" value="{{id}}">
                        <em><input type="checkbox" val="1" name="downloadappkey">将APK保存到服务器</em>
                    </form>
                </div>
                <br>
                <div class="field">
                    <strong >2.采集网址</strong> <input type="text" class="input-text input-text-mini" name="other_site_url" id="js_other-site-url" size="50">
                    <em>(目前支持 酷安和应用汇)</em>
                </div>
                <br>
                <span class="g-btn g-btn-primary" id="js_catch-app-info">获取应用信息</span>
            </div>





            <!-- app截图 -->
            <div class="section m-app-screenshot">
                <h2>应用截图 （截图顺序会按文件名从小至大顺序排列）</h2>
                <div class="w-upload">
                    <span class="g-btn g-btn-primary" id="js_uploadImgBtn">上传图片</span>
                    <input type="file" name="file" id="js_screenShotImg" multiple hidden>
                </div>
                <!-- 这里的东西也是由上传控件生成的 -->
                <ul id="js_applicationScreenshotList" class="fn-clear attachment-list">
                    {{each screenshots as screenshot index}}
                    <li screeenshotid="{{screenshot.id}}" class="active">
                        <img src="{{screenshot.thumb_url}}" alt="">
                        <span class="bottom">
                            <span class="filename">{{screenshot.filename}}</span>
                            <span class="actions">
                                <a class="delete" href="javascript:void(0);" operate="deleteSreenShot" operateid="{{screenshot.id}}">删除</a>
                            </span>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>


            <!-- app下载地址 -->
            <div class="section m-app-dowload-box">
                <h2 class="fn-clear">
                    <div class="fn-left">下载地址</div>
                    <div class="fn-right g-btn g-btn-primary" id="js_addAppdown">添加</div>
                </h2>
                <table class="g-table">
                    <thead>
                        <tr>
                            <th class="col-platform">平台</th>
                            <th class="col-url">地址</th>
                            <th class="col-price">售价</th>
                            <th class="col-depict">描述</th>
                            <th class="col-redirection">跳转</th>
                            <th class="col-actions">操作</th>
                        </tr>
                    </thead>
                    <tbody id="js_appinfos">
                        {{each appinfos as app index}}
                        <tr appinfoId={{app.id}}>
                            <td>
                                <select name="" appinfoAttr="js_platform" class="g-select">
                                    {{each downloads}}
                                        <option value="{{$value}}">{{$value}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td><input type="text" class="input-text col-url" appinfoAttr="js_url" value="{{app.url}}"></td>
                            <td><input type="text" class="input-text col-price" appinfoAttr="js_price" value="{{app.price}}"></td>
                            <td><input type="text" name="" class="col-depict" appinfoAttr="js_desc" value="{{app.desc}}"></td>
                            <td><input type="text" name="" class="col-redirection" value="dl/a{{app.id}}" disabled></td>
                            <td class="col-actions"><span operate="deleteApp" class="g-btn  g-btn-delete">删</span></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <!-- 各種功能按鈕 -->
            <div class="fn-clear m-func" id="js_submit">
                <span class="g-btn g-btn-primary" id="js_publishBtn" type="publish">发布</span>
                <span class="g-btn" type="publish" skip="true">发布并撰写文章</span>
                <span class="g-btn" id="js_draftBtn" type="draft">草稿</span>
            </div>
    </div>
    <!-- 主區域 END -->



    <!-- 擴展欄 START -->
    <div class="w-ext" >

        <!-- icon圖 -->
        <div class="fn-clear m-app-icon">
            <div class="m-app-icon-img">
                {{if icon == null}}
                    <img src="../resource/img/application/default.png" alt="APP图标" width="128" height="128" id="js_icon_id" iconId="{{icon_id}}">
                {{else}}
                    <img src="{{icon.thumb_url}}" alt="APP图标" width="128" height="128" id="js_icon_id" iconId="{{icon_id}}" >
                {{/if}}
            </div>
            <div class="m-app-icon-btn">
                <span class="g-btn g-btn-primary" id="js_iconUploadBtn">上传图标</span>
                <input type="file" name="file" id="iconImg" hidden>
                <br><br>
                <span class="g-btn" id="js_showIconBtn">选择图标</span>
            </div>

            <!-- 彈出窗口，默認隱藏 -->
            <div class="g-modal" style="" id="js_iconListContent">

                <div class="g-modal-dialog">
                    <a href="javascript:void(0)" class="close" id="js_iconListClose">
                        <i class="fa fa-times"></i>
                    </a>

                    <div class="fn-clear g-modal-dialog-header">
                        <h5 class="fn-left">请选择图标</h5>
                        <span class="g-btn g-btn-primary fn-right" id="js_iconUploadBtn">上传图标</span>
                    </div>

                    <div class="fn-clear g-modal-dialog-container">
                        <ul class="attachment-list" id="js_iconList" style="overflow-y: auto;max-height: 400px;"></ul>
                    </div>
                </div>

            </div>
        </div>



        <!-- 挂件 - 文章基本信息 -->
        <div class="fn-clear m-widget m-widget-category">
            <h4>应用分类</h4>
            <div class="m-box">
                <ul class="fn-clear list-category" id="js_categoryListContent">

                    {{each categories as categorie index}}
                        <li>
                            <a href="javascript:void(0)" value="{{categorie.name}}">{{categorie.name}}</a>
                        </li>
                    {{/each}}

                </ul>
                <a href="javascript:void(0)" class="g-btn g-btn-mini g-btn-primary" id="js_categoryBtn">选择</a>



                <!-- 彈出窗口，默認隱藏 -->
                <div class="g-modal" style="" id="js_categoryListSelect">

                    <div class="g-modal-dialog">
                        <a href="javascript:void(0)" class="close" id="js_categoryListClose">
                            <i class="fa fa-times"></i>
                        </a>

                        <div class="fn-clear g-modal-dialog-header">
                            <h5 class="fn-left">应用分类</h5>
                        </div>

                        <div class="fn-clear g-modal-dialog-container">
                            <select name="" id="js_categoryListSelectContent" multiple="multiple" style="width:100%; height: 200px"></select>
                        </div>

                        <div class="fn-clear g-modal-dialog-footer">
                            <button type="button" class="g-btn g-btn-primary" id="js_categorySubmit">确定</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>





        <!-- 挂件 - 文章標籤 -->
        <div class="fn-clear m-widget m-widget-tags">
            <h4>应用标签</h4>
            <div class="m-box">
                <ul class="fn-clear list-tags" id="js_tagsListContent">
                    {{each tags as tag index}}
                        <li><a href="javascript:void(0)">{{tag.name}}</a></li>
                    {{/each}}
                </ul>

                <div class="w-add-tage">
                    <input type="text" class="input-text" id="js_newTag">
                    <span  class="g-btn g-btn-mini g-btn-primary" id="js_addTag">添加</span>
                </div>

                <!-- 推荐的标签 -->
                <div class="recb-tags" id="js_commonTags">
                    <span class="tag">iOS</span>
                    <span class="tag">Android</span>
                    <span class="tag">通用</span>
                    <span class="tag">学生</span>
                    <span class="tag">女性</span>
                    <span class="tag">上班族</span>
                    <span class="tag">老人</span>
                </div>


            </div>
        </div>





    </div>
    <!-- 擴展欄 END -->
</div>


