// ####################################################################
// #    单页活动页面
// ####################################################################
.single-page {
    .clearfix {
        clear: both;
    }
}


.m-comments {
    color:  #000;
    font-size: 14px;
}


// 新浪微博话题墙
.m-sina-comment-box {
    max-width: 1000px;
    width: 100%;
    *width: 1000px;
}