<script type="text/html" id="js_apiTpl">
    <!-- 中栏或(中栏+右侧栏) 开始-->
    <div class="wrap">
        <!-- 主要内容开始 -->
        <div class="w-main m-block">
            <div class="section">
                <div class="m-toolbar">
                    <div class="fn-right">
                        <strong>条件</strong>
                        起始日期:
                        <input type="date" class="input-text">
                        结束日期:
                        <input type="date" class="input-text">
                        分组:
                        <select name="" id="js_" class="g-select">
                            <option value="">天</option>
                            <option value="">周</option>
                            <option value="">月</option>
                        </select>
                         <button class="g-btn">确定</button>
                    </div>
                </div>

                <table class="g-table">
                    <thead>
                        <tr>
                            <th>API ID</th>
                            <th>API Name</th>
                            {{each dates as date index}}
                                <th>
                                    <span  title="API请求次数 / 下载次数" title="API请求次数 / 下载次数">{{date.dateFrom}}<div>~</div>{{date.dateTo}}</span>
                                </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{each data as dt index}}
                            <tr>
                                <td>{{dt.apiId}}</td>
                                <td>{{dt.apiName}}</td>
                                {{each dt.hits}}
                                    <td>{{$value}}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- 主要内容结束 -->
    </div>
    <!-- 中栏或(中栏+右侧栏) 结束-->
</script>