    <!-- 中栏或(中栏+右侧栏) 开始-->
    <div class="wrap g-moudel-list m-stat m-stat-quality">
        <!-- 主要内容开始 -->
        <div class="w-main m-block">
            <div class="fn-clear m-toolbar">
                <div class="fn-right">
                    <strong>条件</strong>
                    起始日期:
                    <input type="date" class="input-text">
                    结束日期:
                    <input type="date" class="input-text">
                    分组:
                     <button class="g-btn">确定</button>

                     <button class="g-btn">Excel 下载</button>
                </div>
            </div>

            <div class="section">
                <table class="g-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>发布日期</th>
                            <th>分类</th>
                            <th>作者</th>
                            <th>{{days}}天阅读数</th>
                            <th>{{days}}天评论数</th>
                            <th>评分</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each data as dt index}}
                            <tr>
                                <td>{{dt.id}}</td>
                                <td>{{dt.title}}</td>
                                <td>{{dt.published}}</td>
                                <td>{{dt.category}}</td>
                                <td>{{dt.author}}</td>
                                <td>{{dt.reads}}</td>
                                <td>{{dt.comment}}</td>
                                <td>{{dt.score}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- 主要内容结束 -->
    </div>
    <!-- 中栏或(中栏+右侧栏) 结束-->
