<script type="text/html" id="js_clearCacheTpl">

    <!-- 中栏或(中栏+右侧栏) 开始-->
    <div class="wrap">
        <!-- 主要内容开始 -->
        <div class="w-main m-block" >
                <div class="section">
                    <h2>系统运行缓存</h2>
                    <div class="field">
                        <label>运行缓存</label>
                        <a href="#" class="g-btn">清除</a>
                    </div>
                </div>

                <div class="section">
                    <h2>文件缓存</h2>
                    <div class="field">
                        <label>过期的文件缓存</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>尝试删除所有过期缓存,好像不太稳定</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(统计数据)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件27, 大小15.95KB</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(搜索缓存)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件2, 大小149.97KB</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(微博数据)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件0, 大小0.00B</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(首页)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件3, 大小445.52KB</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(feed)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件0, 大小0.00B</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(广告)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件0, 大小0.00B</em>
                    </div>
                    <div class="field">
                        <label>文件缓存(api)</label>
                        <a href="#" class="g-btn">清除</a>
                        <em>文件0, 大小0.00B</em>
                    </div>
                </div>

        </div>
        <!-- 主要内容结束 -->
    </div>
    <!-- 中栏或(中栏+右侧栏) 结束-->

</script>