<div class="wrap g-moudel-page m-set m-set-settingSystem">

    <div class="w-main">

        <div class="section">
            <h2>系统运行缓存</h2>
            <div class="field">
                <label>运行缓存</label>
                <a href="#" class="g-btn">清除</a>
            </div>
        </div>

        <div class="section">
            <h2>文件缓存</h2>
            <div class="field">
                <label>过期的文件</label>
                <a href="#" class="g-btn">清除</a>
                <em>尝试删除所有过期缓存,好像不太稳定</em>
            </div>
            <div class="field">
                <label>统计数据</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>搜索缓存</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>微博数据</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>首页</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>feed</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>广告</label>
                <a href="#" class="g-btn">清除</a>
            </div>
            <div class="field">
                <label>api</label>
                <a href="#" class="g-btn">清除</a>
            </div>
        </div>


    </div>

</div>