<script type="text/html" id="js_themesListTpl">
    <!-- 中栏或(中栏+右侧栏) 开始-->
    <div class="wrap">
        <!-- 主要内容开始 -->
        <div class="w-main m-block" >
                <div class="section">
                    <ul class="list-theme">
                        <li class="active">
                            <div class="theme-screenshot">
                                <img src="http://sspai.com/thumbs/2013/12/23/61131_w_640_wmp_3.png" alt="">
                            </div>
                            <div class="more-details">主题详情</div>
                            <div class="theme-name">启用:Zoopda主题</div>
                            <div class="theme-actions">
                                <a href="#themesEdit?id" class="g-btn g-btn-primary btn-customize">自定义</a>
                                <a href="#" class="g-btn g-btn-primary">启用</a>
                                <a href="#" class="g-btn">实时预览</a>
                            </div>
                        </li>
                        <li>
                            <div class="theme-screenshot">
                                <img src="http://sspai.com/thumbs/2013/12/23/61131_w_640_wmp_3.png" alt="">
                            </div>
                            <div class="more-details">主题详情</div>
                            <div class="theme-name">Zoopda主题</div>
                            <div class="theme-actions">
                                <a href="#" class="g-btn g-btn-primary">启用</a>
                                <a href="#" class="g-btn">实时预览</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
        <!-- 主要内容结束 -->
    </div>
    <!-- 中栏或(中栏+右侧栏) 结束-->
</script>