<!-- 中栏或(中栏+右侧栏) 开始-->
<div class="wrap">
    <!-- 主要内容开始 -->
    <div class="w-main" >
        <div class="m-toolbar">
            <!-- <div class="g-btn-group" id="js_secondNav">
                <a href="#article/list/all/1"  class="g-btn" status="all" >全部()</a>
                <a href="#article/list/publish/1" class="g-btn" status="publish">已发布()</a>
                <a href="#article/list/pending/1" class="g-btn" status="pending">未审核()</a>
                <a href="#article/list/draft/1" class="g-btn" status="draft">草稿()</a>
                <a href="#article/list/contribution/1"  class="g-btn" status="contribution">投稿()</a>
                <a href="#article/list/refuse/1" class="g-btn" status="refuse">拒绝()</a>
                <a href="#article/list/recycle/1"  class="g-btn" status="recycle">回收站()</a>
                <a href="#article/list/page/1" class="g-btn" status="page">页面()</a>
            </div> -->
        </div>

         <table class="g-table">
            <thead>
                <tr>
                    <th class="col-checkbox"><input type="checkbox" class="input-checkbox" id="js_operateCheckBox"></th>
                    <th  class="col-title">标题</th>
                    <th class="col-actions">操作</th>
                </tr>
            </thead>
            <tbody id="js_syncListContent">
                <!-- 模板 START -->
                {{each data as item index}}
                    <tr>
                        <td class="col-checkbox"><input type="checkbox" class="input-checkbox"></td>
                        <td class="col-title"><a href="{{item.url}}">{{item.title}}</a></td>
                        <td class="col-actions">
                            <span class="g-btn g-btn-mini" operate="sync" operateId="{{item.id}}">同步到本地</span>

                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="w-page-footer" >
                <div class="m-function">
                    <select name="" id="js_" class="g-select">
                        <option value="">请选择操作</option>
                        <option value="">批量移动</option>
                        <option value="">通过</option>
                        <option value="">拒绝</option>
                        <option value="">待审核</option>
                        <option value="">删除</option>
                        <option value="">导出</option>
                    </select>
                    <a href="#" class="g-btn g-btn-primary">提交</a>
                </div>
                <!-- 分页器 START-->
                <div class="g-pagination" id="js_pagination">

                </div>
                <!-- 分页器 end-->
            </div>
        </div>
    </div>
    <!-- 主要内容结束 -->
</div>
                <!-- 模板 END -->


