// APP聚合活动页面
.album-tage-bg {
    background: url(../img/bg_albumtag_husk.png);
}


.album-tag {
    .m-post {
        padding: 0;
        border: 0;
        background: none;

        .post-title {
            display: none;
        }
    }

}

// 最后修改时间
.last-edit {
    margin-top: 1em;
    clear: both;
    text-align: center;
    color: #999;
    font-size: 12px;
}


// 瀑布流
.m-album-list {
    overflow: hidden;
    *zoom: 1;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 15px 0.9%;
        float: left;
        list-style: none;
        width: 31.4%;
        background: #fff;
        position: relative;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        overflow: hidden;
        *zoom: 1;

        .title {
            font-size: 18px;
            margin: 5px 10px;
            a {
                line-height: 28px;
                border-bottom: none;
                color: #0c77b8;
                text-decoration: none;
            }
        }

        .desc {
            margin: 0 10px 10px 10px;
            font-size: 14px;
            line-height: 22px;
            overflow: hidden;
        }
        .album-tag-img {
            margin: 0;
            display: block;
            padding: 3px;

            img {
                width: 100%;
            }
        }
        .appinfo {
            background: #eee;
            padding-bottom: 40px;
            padding-top: 12px;
            min-height: 65px;
        }

        // APP下载的平台
        .platforms {

            font-size: 12px;
            float: right;
            margin-right: 10px;
            position: relative;
            z-index: 999;
            th, td {
                padding: 5px 0;
            }
            th {
                padding-right: 10px;
                text-align: right;
            }


            .download {
                width: 76px;
                padding-left: 10px;
                height: 26px;
                float: right;
                text-align: center;
                color: #222;
                opacity: 0.9;
                text-decoration: none;

                &:hover {
                    opacity: 1;
                }
            }



            .iphone, .ipad, .windows_phone, .android {
                width: 76px;
                padding-left: 10px;
                height: 26px;
                line-height: 26px;
                background: url(../img/sp_download_platform.png) no-repeat;
                color: #fff;
                text-shadow: 1px 1px 1px #333;
            }
            .iphone {
                background-position: 0 -30px;
            }
            .ipad {
                background-position: 0 -60px;
            }
            .windows_phone {
                background-position: 0 -90px;
            }
            .icon-download {
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-top: 1px;
                line-height: 14px;
                vertical-align: text-top;
                background: url(../img/glyphicons-halflings.png) -96px -24px no-repeat;
            }
        }


        .share {
            position: absolute;
            margin: 0;
            width: 100%;
            bottom: 0;
            right: 0;
            img {
                display: block;
            }
            .qrcode {
                float: left;
                margin-left: 10px;
                margin-bottom: 10px;
                bottom: 0;
                left: 0;
            }
            .sns-and-read-more {
                float: right;
                margin-right: 10px;
                position: absolute;
                margin-bottom: 10px;
                bottom: 0;
                right: 0;
                width: 200px;
                text-align: right;
            }

            .ssp-btn-more {
                float: right;
                line-height: 1.6em;
                margin-left: .5em;
            }
        }
    }
}